section {
  .hero-container {
    display: flex;
    flex-direction: column;
    .hero-title {
      font-weight: 800;
    }
    .searh-bar {
      display: flex;
      flex-direction: column;
      input {
        &:focus {
          outline: none;
        }
      }
    }
    .tags {
      display: flex;
      flex-direction: column;
      .tags-items {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
